.signature-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border-color: rgb(241, 98, 43);
    background: rgb(0, 8, 27);
    color: rgb(255, 158, 77);
    font-family: "Ubuntu Mono", monospace;
}
@media (max-width: 450px) {
    .signature-container {
        font-size: .9em;
    }
}

.signature-link-button{
    padding-left: .3em;
    text-decoration: none;
    color: rgb(241, 98, 43);
    font-weight: bold;
}
