body{
    font-family:"Black Ops One", system-ui;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.btn-primary {
    background-color: #0024f3; 
    border-color: #0024f3; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #29498f; 
    border-color: #29498f;
}