body{
    font-family:"Black Ops One", system-ui;
}

.btn-primary {
    background-color: #0024f3; /* Cambia este color al que desees */
    border-color: #0024f3; /* Asegúrate de cambiar también el borde si es necesario */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #29498f; /* Color para el estado de hover, focus y active */
    border-color: #29498f;
}