.aboutme-container{
    border-radius: 0px;
    border: 0px;
}
.title-aboutme{
    text-align: center;
    margin: 0.5em;
}

.img-vid-container{
    max-Height: 500px;
    object-fit: cover;
}
@media (max-width: 540px) {
    .img-vid-container{
        max-Height: 400px;
        object-fit: cover;
    }
    .aboutme-text{
        font-size: 1.2em;
    }
}